<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Change Password</h2>
    <form method="POST" action="/change_password">
        <label for="old_password">Old Password:</label>
        <input type="password" name="old_password" required><br><br>
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" required><br><br>
        <input type="submit" value="Change Password">
    </form>
</body>
</html>
